/*

brand colors:

	white: f0f0f0
	black: 222
	body-bg: ffb549
	header-bg: a8a7e6

*/

@font-face{
	font-family: HeadUp;
	src: url(fonts/KGKeepYourHeadUp.ttf);
}

body{
	padding-top: 50px;
	background: #fcfcfc;
	color: #222;
}

h1, h2, h3, h4, .navbar-brand{
	font-family: HeadUp;
}

.navbar-brand{
	color: #FFb549 !important;
	padding-top: 13px;
}

h3{
	padding-bottom: 5px;
}

.navbar{
	background-color: #222;
	border: #222;
}

.navbar-inverse .navbar-nav > li > a {
  color: #a8a7e6;
}

.active{
	color: #fcfcfc !important;
	font-size: 20px;
}

.body-panel{
	background-color: #FFb549;
	border: 2px solid #222;
	border-radius: 5px 5px 20px 20px;
	margin-bottom: 10px;
}

.header-panel{
	background-color: #a8a7e6;
	border: 2px solid #222;
	border-bottom: none;
	border-radius: 20px 20px 0px 0px;
	color: #222;
}

.header-panel h1{
	color: #222;
}

hr{
	border: #222 1px solid;
}

.smalldivider{
	margin-top: -5px;
	margin-bottom: 5px;
}

.sharp-top-corners{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

