body{
	padding-top: 30px;
	padding-bottom: 50px;
	background-image: url('../images/background-texture.png');
	color: black;
}

h1, h2, h3, h4, .navbar-brand{
	font-family: Schoolbell;
}

.navbar-brand{
	color: #FFb549 !important;
}

h3{
	padding-bottom: 5px;
}

.navbar{
	background-color: black;
	border: black;
}

.panel{
	background-color: #FFb549;
	border: 2px solid black;
	border-radius: 30px;
}

.panel2{
	background-color: #a7c6e6;
	border: 2px solid black;
	border-radius: 30px;
	margin-bottom: 20px;
}

.panel3{
	background-color: #a8a7e6;
	border: 2px solid black;
	border-radius: 30px;
	margin-bottom: 20px;
	color: black;
}

.panel3 h1{
	color: black;
}

.thumbnail{
	height: 80px;
	float: left;
}

.bookportrait{
	border: 2px solid black;
	border-radius: 50%;
	width: 100%;
}

.bookimage{
	margin-top: 30px;
	margin-bottom: 30px;
}

.smalldivider{
	margin-top: -5px;
	margin-bottom: 5px;
}


hr{
	border: black 1px solid;
}

.aboutportrait{
	width: 100%;
	border-radius: 25%;
	border: 2px solid black;
	position: relative;
}

.abouttext{
	padding: 10px;
}

#socialmedia a, #smallmedia a{
	outline: none;
	color: black;
	font-size: 75px;
}

#smallmedia a{
	font-size: 20px;
}

#smallmedia > div > a{
	text-decoration: none;
}

#formInput{
	padding: 10px;
}

#contactform input, #contactform textarea{
	width: 100%;
	resize: none;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 2em;
}

#contactform textarea{
	height: 120px;
}

#contactform label{
	margin-left: 15px;
}


#contactform button{
	background-color: #a7c6e6;
	border: 2px solid black;
	border-radius: 5px;
}

#contactform label{
	margin-top: 3px;
	border-bottom: 2px solid black;
}

#submitMessage{
	background-color: #FFb549;
	border-radius: 30px;
	padding: 10px;
	border: 2px solid black;
	margin-bottom: 10px;
}

#errorMessage{
	background-color: palevioletred;
	border-radius: 30px;
	padding: 10px;
	border: 2px solid black;
	margin-bottom: 10px;
}