/*

brand colors:

	white: f0f0f0
	black: 222
	body-bg: ffb549
	header-bg: a8a7e6

*/

body{
	padding-top: 30px;
	padding-bottom: 50px;
	background-image: url('../images/background-texture.png');
	color: #222;
}

h1, h2, h3, h4, .navbar-brand{
	font-family: Schoolbell;
}

.navbar-brand{
	color: #FFb549 !important;
}

h3{
	padding-bottom: 5px;
}

.navbar{
	background-color: #222;
	border: #222;
}

.body-panel{
	background-color: #FFb549;
	border: 2px solid #222;
	border-radius: 30px;
	margin-bottom: 10px;
}

.header-panel{
	background-color: #a8a7e6;
	border: 2px solid #222;
	border-radius: 30px;
	margin-bottom: 20px;
	color: #222;
}

.header-panel h1{
	color: #222;
}

.thumbnail{
	height: 80px;
	float: left;
}

.bookportrait{
	border: 2px solid #222;
	border-radius: 50%;
	width: 100%;
}

.bookimage{
	margin-top: 30px;
	margin-bottom: 30px;
}

.smalldivider{
	margin-top: -5px;
	margin-bottom: 5px;
}


hr{
	border: #222 1px solid;
}

.aboutportrait{
	width: 100%;
	border-radius: 25%;
	border: 2px solid #222;
	position: relative;
}

.abouttext{
	padding: 10px;
}

#largemedia a, #smallmedia a{
	outline: none;
	color: #222;
	font-size: 75px;
}

#smallmedia a{
	font-size: 20px;
}

#smallmedia > div > a{
	text-decoration: none;
}

#formInput{
	padding: 10px;
}

#contacthead {
	position: relative;
	top: 25px;
}

#contactform {
	margin-top: 30px;
}

#contactform input, #contactform textarea{
	background-color: #f0f0f0;
	width: 100%;
	resize: none;
	border: 2px solid #222;
	border-radius: 5px;
	font-size: 2em;
}

#contactform textarea{
	height: 120px;
}

#contactform label{
	margin-left: 15px;
}


#contactform button{
	background-color: #222;
	border: 2px solid #222;
	border-radius: 5px;
	color: #f0f0f0;
}

#contactform label{
	margin-top: 3px;
	border-bottom: 2px solid #222;
}

#largemedia {
	margin-bottom: 10px;
}
#largemedia > div > a{
	text-decoration: none;
}